<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="$(find slam)/maps/obagoren.yaml"/>

    <arg name="msg" default="$(find slam)/maps/obagoren.yaml" />
    <node name="pub_text" pkg="rostopic" type="rostopic"
        args="pub /msg std_msgs/String '$(arg msg)'"
        output="screen" />
    <node name="print_text" pkg="rostopic" type="rostopic"
        args="echo /msg" output="screen" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>


    <node name="amcl" pkg="amcl" type="amcl" output="screen">

        <param name="resample_interval" value="2"/>

        <!-- Parameters -->
        <param name="min_particles" value="100"/>
        <param name="max_particles" value="5000"/>
        <param name="update_min_a" value="0.1"/>
        <param name="update_min_d" value="0.2628"/>

        <!-- Laser model parameters -->
        <param name="laser_max_beams" value="40"/>
        <param name="laser_min_range" value="-1.0"/>
        <param name="laser_max_range" value="-1.0"/>
        <param name="laser_z_hit" value="0.95"/>
        <param name="lazer_z_rand" value="0.05"/>

        <!-- Odometry model parameters -->
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="odom_alpha1" value="0.2"/>
        <param name="odom_alpha2" value="0.2"/>
        <param name="odom_alpha3" value="0.2"/>
        <param name="odom_alpha4" value="0.2"/>


        <remap from="scan" to="/scan"/>
        <param name="odom_frame_id" value="odom"/>
        <param name="global_frame_id" value="map"/>
        <param name="base_frame_id" value="robot_footprint"/>

        <param name="initial_pose_x" value="0"/>
        <param name="initial_pose_y" value="-3"/>
        <!-- <param name="initial_pose_a" value="1.5708"/> -->

    </node>

    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <rosparam file="$(find slam)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find slam)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find slam)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find slam)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find slam)/config/base_local_planner_params.yaml" command="load" />

        <remap from="scan" to="/scan"/>
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>


    </node>

</launch>